Repository zuri-training/Favicon-Gen-Team-69, pull requests merged in 2022-08, with the labels that each got.

#30 latest changes
  Frontend/css/header&footer.css
  Frontend/images/favicon+slogan.png
  Frontend/images/favicon.png
  Frontend/index.html
Labels: bug

#22 Dev user
  Backend/favicon/migrations/0001_initial.py
  Backend/favicon_generator/settings.py
  Backend/favicon_generator/urls.py
  Backend/requirements.txt
  Backend/user_control/serializers.py
  Backend/user_control/urls.py
  Backend/user_control/views.py
Labels: backend

#32 Generate Favicon Page
  Backend/manage.py
  Frontend/css/generate.css
  Frontend/css/header&footer.css
  Frontend/images/Arrow 1.png
  Frontend/images/bi_emoji-wink-fill.png
  Frontend/images/bi_image-fill.png
  Frontend/images/carbon_text-scale.png
  Frontend/images/image generator screen.svg
  Frontend/js/generate.js
  Frontend/pages/generate.html
Labels: frontend

#34 Favicon Helper functions
  Backend/favicon/helpers.py
Labels: backend

#36 created the update user and generate favicon endpoints
  Backend/favicon/helpers.py
  Backend/favicon/serializers.py
  Backend/favicon/urls.py
  Backend/favicon/views.py
  Backend/favicon_generator/urls.py
  Backend/user_control/serializers.py
  Backend/user_control/urls.py
  Backend/user_control/views.py
Labels: backend

#39 setup bash script and profile for heroku deployment
  Backend/requirements.txt
  Procfile
  deploy.sh
  requirements.txt
  runtime.txt
Labels: backend

#42 Fix Port issue in deployment
  deploy.sh
Labels: bug, backend

#43 Fix Port Allowed host issues in Heroku deployment
  Backend/favicon_generator/settings.py
  requirements.txt
Labels: bug, backend

#44 Fix Migration Issues on Heroku deployment
  deploy.sh
Labels: bug, backend

#46 Landing page
  Frontend/css/header&footer.css
  Frontend/css/index.css
  Frontend/images/1579847662941-removebg-preview 1.png
  Frontend/images/391-3919742_an-image-of-hayley-jayne-menere-talent-manager 1.png
  Frontend/images/590-5904853_glen-circle-profile-fundraising 1.png
  Frontend/images/Desktop - 1.png
  Frontend/images/Desktop - 12.png
  Frontend/images/Group 125.png
  Frontend/images/Landing Page 14 a.svg
  Frontend/images/Landing Page 14 b.svg
  Frontend/images/Rectangle 491.png
  Frontend/images/Screenshot (18) 2.png
  Frontend/images/Screenshot (18) 3.png
  Frontend/images/Screenshot (21) 2.png
  Frontend/images/Star 7.png
  Frontend/images/Vector 1.png
  Frontend/images/Vector-1.png
  Frontend/images/Vector-2.png
  Frontend/images/Vector.png
  Frontend/images/Vector1-1.png
  Frontend/images/favicon download 4.png
  Frontend/images/favicon download 5.png
  Frontend/images/logo/Vector-1.png
  Frontend/images/logo/Vector-2.png
  Frontend/images/logo/Vector-3.png
  Frontend/images/logo/Vector-4.png
  Frontend/images/logo/Vector-5.png
  Frontend/images/logo/Vector.png
  Frontend/images/logo/logos_figma.png
  Frontend/index.html
Labels: frontend

#47 make generate page and footer responsive
  Frontend/css/generate.css
  Frontend/css/header&footer.css
  Frontend/images/facebook.png
  Frontend/images/twitter.png
  Frontend/index.html
  Frontend/pages/generate.html
Labels: bug, frontend

#48 registration
  Frontend/css/register.css
  Frontend/js/register.js
  Frontend/pages/register.html
Labels: frontend

#49 Created Text to Favicon Helper functio
  Backend/favicon/helpers.py
Labels: backend

#51 fixing registration integration
  Backend/favicon_generator/settings.py
  Frontend/css/register.css
  Frontend/index.html
  Frontend/js/register.js
  Frontend/pages/register.html
Labels: bug

#52 fixed cors error in settings
  Backend/favicon_generator/settings.py
Labels: bug, backend

#54 Fixed Post Request Issues and Made Registeration page responsive
  Frontend/css/register.css
  Frontend/js/register.js
  Frontend/pages/register.html
Labels: bug, frontend

#55 Fix Styles and Javascript Imports
  Frontend/images/registration pages.svg
Labels: bug

#56 Registeration Fully Responsive
  Frontend/css/register.css
  Frontend/images/mobile signup page.png
  Frontend/images/tablet signup page.png
  Frontend/js/register.js
  Frontend/pages/register.html
Labels: enhancement, frontend

#58 Fix url for login and register
  Frontend/pages/login.html
  Frontend/pages/register.html
Labels: bug, frontend

#59 Fix url for login and register
  Frontend/pages/login.html
  Frontend/pages/register.html
Labels: bug

#64 Created Profile page
  Frontend/css/profile.css
  Frontend/images/Group.png
  Frontend/images/Vector- 24.png
  Frontend/images/Vector-23.png
  Frontend/images/Vector22.png
  Frontend/pages/profile.html
Labels: frontend

#66 Fixed icon conflict
  Frontend/images/edit-icon.png
  Frontend/pages/profile.html
Labels: bug

#67 TextToFavicon
  Frontend/css/texttofavicon.css
  Frontend/images/link.png
  Frontend/js/emojitofavicon.js
  Frontend/js/texttofavicon.js
  Frontend/pages/emojitofavicon.html
  Frontend/pages/texttofavicon.html
Labels: frontend

#69 created a custom user model
  Backend/favicon/helpers.py
  Backend/favicon/models.py
  Backend/user_control/models.py
  Backend/user_control/serializers.py
  Backend/user_control/views.py
Labels: enhancement, backend

#72 Dev user
  Backend/favicon/helpers.py
  Backend/favicon/serializers.py
  Backend/favicon/urls.py
  Backend/favicon/views.py
  Backend/user_control/serializers.py
  Backend/user_control/views.py
Labels: backend

#74 Fixed navbar links across pages
  Frontend/css/generate.css
  Frontend/css/header&footer.css
  Frontend/css/reg&login.css
  Frontend/index.html
  Frontend/pages/emojitofavicon.html
  Frontend/pages/gen_image.html
  Frontend/pages/generate.html
  Frontend/pages/texttofavicon.html
Labels: frontend

#73 Updated the responsiveness
  Frontend/css/profile.css
  Frontend/images/about and profile.svg
  Frontend/images/carbon_task-add.png
  Frontend/pages/profile.html
Labels: frontend

#75 fixed database model error
  Backend/favicon/migrations/0002_alter_favicon_author.py
  Backend/user_control/migrations/0001_initial.py
Labels: bug, backend

#76 fixed issues with database migrations
  Backend/favicon/migrations/0001_initial.py
  Backend/favicon/migrations/0002_alter_favicon_author.py
  Backend/user_control/migrations/0001_initial.py
Labels: bug, backend

#77 fixed issues with database migrations
  Backend/favicon/migrations/0001_initial.py
  Backend/favicon/migrations/0002_initial.py
  Backend/user_control/migrations/0001_initial.py
Labels: bug, backend

#84 Added background
  Frontend/css/profile.css
Labels: enhancement, frontend

#86 responsive landing page
  Frontend/css/index.css
Labels: enhancement, frontend

#87 created favicons_to_zip helper function
  Backend/favicon/admin.py
  Backend/favicon/helpers.py
  Backend/favicon/views.py
  Backend/favicon_generator/settings.py
  Backend/user_control/models.py
Labels: backend

#85 'success-page'
  Frontend/css/success.css
  Frontend/images/Ellipse 11.png
  Frontend/images/cancel.png
  Frontend/images/copy.png
  Frontend/images/mark.png
  Frontend/images/user.png
  Frontend/pages/success.html
Labels: frontend

#38 Updated Project About Page
  Frontend/css/about.css
  Frontend/images/Subscribe background.png
  Frontend/images/Vector (2).png
  Frontend/images/about screen.svg
  Frontend/images/about-mobile.svg
  Frontend/images/contact screen.svg
  Frontend/images/contact-screen-mobile.png
  Frontend/images/ddd.png
  Frontend/images/eos-icons_performance.png
  Frontend/images/fa_bolt.png
  Frontend/images/mail.png
  Frontend/images/ph_align-bottom-simple-fill.png
  Frontend/images/user.PNG
  Frontend/pages/about.html
Labels: frontend

#103 fixed requirements and added emoji to favicon page
  Frontend/css/emojitofavicon.css
  Frontend/css/texttofavicon.css
  Frontend/js/emojitofavicon.js
  Frontend/js/picmo/package.json
  Frontend/pages/emojitofavicon.html
  requirements.txt
Labels: backend, frontend

#88 Index Page Correction
  Frontend/css/header&footer.css
  Frontend/css/mobile-menu.css
  Frontend/css/preview-modal.css
  Frontend/images/About.png
  Frontend/images/About.svg
  Frontend/images/Tutoorial.svg
  Frontend/images/UserProfile.svg
  Frontend/images/about-icon.svg
  Frontend/images/contact-icon.svg
  Frontend/images/contact.png
  Frontend/images/contact.svg
  Frontend/images/gears.png
  Frontend/images/generate-icon.svg
  Frontend/images/log out.png
  Frontend/images/logout.svg
  Frontend/images/menu-3-slashes.png
  Frontend/images/phone.png
  Frontend/images/questionmark.png
  Frontend/images/tutorial-again.svg
  Frontend/images/tutorial-icon.svg
  Frontend/images/tutorial.png
  Frontend/images/tutorial.svg
  Frontend/images/user profile.png
  Frontend/index.html
  Frontend/js/mobile-menu.js
  Frontend/js/texttofavicon.js
  Frontend/pages/texttofavicon.html
Labels: frontend

#107 created the emoji to favicon helper function,
  .gitignore
  Backend/favicon/helpers.py
  Backend/favicon/serializers.py
  Backend/favicon/views.py
  Backend/user_control/views.py
Labels: backend

#112 Migrate DB from SQLite to PostgreSQL
  Backend/favicon/helpers.py
  Backend/favicon/serializers.py
  Backend/favicon/tests.py
  Backend/favicon/urls.py
  Backend/favicon/views.py
  Backend/favicon_generator/settings.py
  Backend/user_control/models.py
  Backend/user_control/serializers.py
  Backend/user_control/urls.py
  Backend/user_control/views.py
  deploy.sh
  requirements.txt
Labels: enhancement, backend

#113 Make Pixel Perfect (Login, Register, Generate, ImageToFavicon) Html
  Frontend/css/generate.css
  Frontend/css/header&footer.css
  Frontend/css/imagetofavicon.css
  Frontend/css/reg&login.css
  Frontend/images/Google logo.svg
  Frontend/images/User icon.svg
  Frontend/images/facebook logo.svg
  Frontend/images/lock icon.svg
  Frontend/images/mail icon.svg
  Frontend/js/imagetofavicon.js
  Frontend/js/login.js
  Frontend/js/register.js
  Frontend/pages/generate.html
  Frontend/pages/imagetofavicon.html
  Frontend/pages/login.html
  Frontend/pages/register.html
Labels: enhancement, frontend

#114 fix error in contributors list file name
  contributors/developers/Tuoyo-Clifford Eyimofe.md
Labels: bug

#120 imagetofavicon api integration
  Frontend/js/auth.js
  Frontend/js/imagetofavicon.js
  Frontend/js/login.js
  Frontend/pages/imagetofavicon.html
Labels: enhancement, frontend

#122 applied navbar to al pages
  Frontend/css/header&footer.css
  Frontend/css/mobile-menu.css
  Frontend/images/Rectangle 491.png
  Frontend/images/Subscribe background.png
  Frontend/images/ddd.png
  Frontend/index.html
  Frontend/js/profile.js
  Frontend/pages/generate.html
  Frontend/pages/imagetofavicon.html
  Frontend/pages/tutorial.html
Labels: frontend

#102 create faviconpop screen page
  Frontend/css/faviconpopmodal.css
  Frontend/pages/faviconpopmodal.html
Labels: frontend

#125 Added Loading Spinner for Login, Registeration and Imagetofavicon page
  Frontend/css/index.css
  Frontend/css/ispinner.css
  Frontend/css/prof.css
  Frontend/css/profile.css
  Frontend/css/reg&login.css
  Frontend/images/back.png
  Frontend/images/camera icon.png
  Frontend/images/forward.png
  Frontend/images/profile avatar 1.png
  Frontend/index.html
  Frontend/js/imagetofavicon.js
  Frontend/js/index.js
  Frontend/js/login.js
  Frontend/js/profile.js
  Frontend/js/register.js
  Frontend/pages/imagetofavicon.html
  Frontend/pages/login.html
  Frontend/pages/profile.html
  Frontend/pages/register.html
Labels: enhancement, frontend

#133 added hero section logos
  Frontend/css/index.css
  Frontend/css/logos.css
  Frontend/images/Rectangle 491.png
  Frontend/images/landing page background.png
  Frontend/images/logo/amazon.png
  Frontend/images/logo/discord.png
  Frontend/images/logo/facebook_logo.png
  Frontend/images/logo/netflix.png
  Frontend/images/logo/sportify.png
  Frontend/images/logo/ticktok.png
  Frontend/images/logo/twitter.png
  Frontend/index.html
  Frontend/mofii
Labels: enhancement

#134 Fix landing p icons
  Frontend/css/index.css
  Frontend/css/logos.css
  Frontend/images/star-white.svg
  Frontend/images/star.svg
  Frontend/index.html
Labels: enhancement
