Repository zuri-training/Favicon-Gen-Team-69, pull requests merged in 2022-07, with the labels that each got.

#18 Restructured Repo
  Backend/favicon/__init__.py
  Backend/favicon/admin.py
  Backend/favicon/apps.py
  Backend/favicon/migrations/__init__.py
  Backend/favicon/models.py
  Backend/favicon/serializers.py
  Backend/favicon/tests.py
  Backend/favicon/urls.py
  Backend/favicon/views.py
  Backend/favicon_generator/__init__.py
  Backend/favicon_generator/asgi.py
  Backend/favicon_generator/settings.py
  Backend/favicon_generator/urls.py
  Backend/favicon_generator/wsgi.py
  Backend/manage.py
  Backend/requirements.txt
  Backend/user_control/__init__.py
  Backend/user_control/admin.py
  Backend/user_control/apps.py
  Backend/user_control/migrations/__init__.py
  Backend/user_control/models.py
  Backend/user_control/serializers.py
  Backend/user_control/urls.py
  Backend/user_control/views.py
  Frontend/css/index.css
  Frontend/index.html
  Frontend/js/index.js
  Frontend/pages/about.html
  Frontend/pages/contact.html
  Frontend/pages/login.html
  Frontend/pages/register.html
  README.md
Labels: enhancement

#20 FrontEnd-structure commit
  Frontend/css/about.css
  Frontend/css/contact.css
  Frontend/css/generate.css
  Frontend/css/login.css
  Frontend/css/preview.css
  Frontend/css/register.css
  Frontend/js/about.js
  Frontend/js/contact.js
  Frontend/js/generate.js
  Frontend/js/login.js
  Frontend/js/preview.js
  Frontend/js/register.js
  Frontend/pages/generate.html
  Frontend/pages/preview.html
Labels: frontend

#21 Favicon and Icon Models
  Backend/favicon/models.py
  Backend/favicon_generator/settings.py
Labels: backend

#23 Header and Footer design
  Frontend/css/header&footer.css
  Frontend/images/Vector.png
  Frontend/images/favicon+slogan.png
  Frontend/images/favicon.png
  Frontend/images/gmail icon.png
  Frontend/images/twitter.png
  Frontend/index.html
Labels: frontend
